<%
page.layout = "links"
page.title = theme.links.title || __('links.title')
page.subtitle = theme.links.subtitle || __('links.subtitle')
page.banner_img = theme.links.banner_img
page.banner_img_height = theme.links.banner_img_height
page.banner_mask_alpha = theme.links.banner_mask_alpha
%>

<div class="links">
    <% for(const each of theme.links.items || []) { %>
        <% if (!each.title) continue %>
        <div class="link-title"><%- each.title %></div>

        <div class="row">
            <% for(const tag of each.children || []) { %>
                <% if (!tag.title || !tag.link) continue %>
                <div class="card col-lg-4 col-md-6 col-sm-12">
                    <a href="<%= url_for(tag.link) %>" class="card-body hover-with-bg" target="_blank" rel="noopener">
                        <div class="card-content">
                            <% if (tag.image) { %>
                                <div class="link-avatar my-auto">
                                    <img src="<%= tag.image %>" alt="<%= tag.title %>" />
                                </div>
                            <% } %>
                            <div class="link-text">
                                <div class="link-title"><%- tag.title %></div>
                                <div class="link-intro"><%- tag.intro %></div>
                            </div>
                        </div>
                    </a>
                </div>
            <% } %>
        </div>

    <% } %>
</div>
